body{
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    
}

.text-primary{
    color: #FD6E0A;
}

.nav-title{
    color: #181818;
    font-size: 45px;
     font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    
}
.btn-primary-2{
    margin-left: 50px;
    border-radius: 5px;
    background: white;
    color: #FD6E0A;
    border-width: 2px;
    border-color: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png') , url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}

/* banner */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-title{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-greeting{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}
.banner-des{
    color:  #757575;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
display: flex;
width: 585px;
flex-direction: column;
flex-shrink: 0;
}

.banner .profile-pic{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.profile-pic{
    margin-left: 430px;
}

.banner-content{
     max-width: 500px;
}

svg{
    padding-right: 2px;
}

/* .img-dev{
    color: rgba(24, 24, 24, 0.15);
    font-family: Open Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 33px;
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom  right;
    text-align: left;
    width: 774;
    height: 136;
    padding: 38px 0px 25px 23px; 
    

}
.img-dev header{
    display: flex;
    justify-content: space-between;
} */

/* shared items */

.section-title{
        color: #181818;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
}


/* Main section styles */

/* about section */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 230px 60px 230px;
    
}

.section-des{
    color: #757575;
    font-weight: 400px;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    display: flex;
    width: 827px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px 156px 0px 156px;
    color: var(--dark-03, #757575);
    line-height: 30px;
}

ul > li{
    list-style-type: none;
    display: flex;
    display: inline;
    padding-right: 60px;
    text-align: center;

}

.section-c{
    background-color: #FFF8F3 ;
    border: none;
    color: none;
    font-size: 20px;
    align-items: center;

}

.section-con{
    color: #757575;
    display: flex;
    margin-top: 40px ;
    text-align: center;
    
}
.section-con2{
    color: #474747;
    text-align: center;
    align-items: center;
}

.about2{
    padding: 130px;
    border-radius: 10px;
    background: none;
    margin: 0px 230px 60px 230px;
    
}
.section-title2{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-des2{
    text-align:center;
    font-size: 18px;
    display: flex;
    width: 827px;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px 156px 0px 156px;
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* javaScript,r,n,mong */

.lg{
     align-content: space-between;
     width: 260px;
     height: 360px;
     border: none;
     flex-shrink: 0;
     border-radius: 5px;
     background: #FFF;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     display: inline;
     padding: right 40px;
     text-align: left;
    }

.n{
    color: var(--dark-01, #181818);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p1{
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.java{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
    margin-left: 230px;
    margin-right: 230px;
}


/* summary section  */

